@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100&family=Roboto:wght@300&display=swap');

h1, h2, h3, h4 {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

h1, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

b {
    font-weight: 900;
    font-size: 1.1em;
}

p, ul{
    font-family: "Roboto", Arial, sans-serif;
    margin: 32px;
}

header {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
    padding: 10px;
}

footer {
    background: linear-gradient(180deg, white, #74ebd5, #acb6e5);
}

body.dark {
    background-color: black;
    color: white
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 32px;
    overflow: hidden;
    text-decoration: #333;
    font-family: monospace;
    font-size: 20px;
}

nav li a:hover:not(.active) {
    background-color: white;
    transform: scale(1.1);
}

.normal {
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.active {
    background-color: antiquewhite;
}

.active:hover {
    transform: scale(1.1);
}

.blue-hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0505fc;
}

.blue-hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #0505fc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.blue-hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.back-to-top {
    text-align: center;
}

.fullCard {
    width: device-width;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
    text-align: center;
}

.cardContent {
    padding: 10px;
}

.cardText, .cardTextLeft, .cardTextRight {
    margin-bottom: 30px;
    max-width: 600px;
    margin: auto;
}   

.heart {
    margin: auto;
    background-color: pink;
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 25px;
}

.heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -25px;
    left: 0px;
}

a #thumbnail:hover {
    box-shadow: 0 10px 20px rgba(0,0,255,0.19), 0 6px 6px rgba(0, 0, 255, 0.23);
}

#thumbnail:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: scale(1.01)
}

#wip-warning {
    color: red;
    animation-name: red-flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#created-by {
    padding: 8px;
    text-align: center;
}

@keyframes red-flash {
    0% {
        color: black;
    }
    50% {
        color: red;
        transform: scale(1.1)
    }
    100% {
        color: black;
    }
}

@keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }

@media (prefers-color-scheme: dark) {
    body {
      color: #eee !important;
      background: #121212 !important;
    }
  
    body a {
      color: #809fff;
    }

    header {
        background: radial-gradient(#64302c, #432020, #270f0f 50%, #121212 90%)
    }

    footer {
        color: white;
        background: linear-gradient(180deg, #121212, #52434a);
        animation-name: heartback;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    nav li a {
        color: white;
    }

    nav li a:hover:not(.active) {
        background-color: black;
    }

    .active {
        background-color: grey;
    }

    .blue-hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #809fff;
    }

    .blue-hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #809fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    #thumbnail:hover {
        box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255,255,255,0.23);
        transform: scale(1.01)
    }

    @keyframes red-flash {
        0% {
            color: white;
        }
        50% {
            color: red;
            transform: scale(1.1)
        }
        100% {
            color: white;
        }
    }

}